language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
matrix:
  include:
    - python: "3.7"
      dist: xenial    # required for Python >= 3.7 (travis-ci/travis-ci#9069)
      sudo: required  # required for Python >= 3.7 (travis-ci/travis-ci#9069)
script:
  - make test
